
# Created by https://www.gitignore.io/api/elixir,phoenix,emacs,netbeans

### Elixir ###
/_build
/cover
/deps
erl_crash.dump
*.ez


### Phoenix ###
# Phoenix: a web framework for Elixir
_build/
/db
/deps
/*.ez
node_modules/
erl_crash.dump
/priv/static/
/config/prod.secret.exs
/rel


### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/

